

<!--body wrapper start-->
<div class="">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    桌台二维码
                </header>
                <div class="panel-body">
                    <div id="gallery" class="media-gal" >
                        <!--<div ng-repeat="area in areas">-->
                            <div class="images item ">
                                <a href="javascript:void(0);" data-toggle="modal">
                                    <img src="http://39.106.117.141:8080/shoptong/shop_{{shop.shop_id}}/qrcode_{{shop.shop_id}}.jpg" alt="" />
                                </a>
                                <p>{{shop.shop_name}}</p>
                            </div>
                        <!--</div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->