<div>
<!--头部-->
<header>
    <div class="header">
        <h1>店铺信息</h1>
        <a href="#/index" class="return"><i></i></a>
    </div>
</header>

<!--内容区-->
<article class="main-container" style="background-color:#ffffff;margin-top: 50px;">


        <!--店铺信息-->

        <div class="list-content cartlist order-Pro memberDetaillist" style="margin-top: 20px;margin-bottom: 0px;">
            <ul class="line-li">
                <li>
                        <h3 style="margin-top: 10px">店铺名称：</h3>
                        <p  style="margin-top: 8px;font-size:11pt">{{shop.shop_name}}</p>
                </li>
                <li>
                        <h3 style="padding: 10px 0px 0px 0px;">店铺地址：</h3>
                        <p  style="margin-top: 8px;font-size:11pt">{{shop.address}}</p>
                </li>
                <li>
                        <h3 style="margin-top: 10px">店铺简介：</h3>
                        <p  style="margin-top: 8px;font-size:11pt">{{shop.introduction}}</p>
                </li>
                <li>
                    <h3 style="margin-top: 10px">店铺公告：</h3>
                    <p  style="margin-top: 8px;font-size:11pt">{{shop.notice}}</p>
                </li>
            </ul>
        </div>



</div>