
<div class="row" ng-controller="updatepasswordController">
    <div class="col-lg-12" >
        <section class="panel" >
            <header class="panel-heading">
                <h3>密码修改</h3>
            </header>
            <div class="panel-body" style="width:60%;margin-left: 10%">
                <form class="form-horizontal adminex-form" method="get" id="add_form">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">原密码</label>
                        <div class="col-sm-10">
                            <input type="hidden" ng-model="shop_id" ng-value="shop_id"/>
                            <input type="text" class="form-control" maxlength="25" ng-model="oldpassword" ng-value="oldpassword">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"  ng-model="password" ng-value="password">
                            <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">新密码确认</label>
                        <div class="col-sm-10">
                            <input type="password"  class="form-control"  ng-model="passwordnew" ng-value="passwordnew">
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-sm-10">
                            <button class="btn btn-success btn-lg" type="button" ng-click="doUpdate();">保存</button>&nbsp;&nbsp;
                        </div>

                    </div>


                </form>
            </div>
        </section>
    </div>
</div>
